@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;900&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}